
  <div class="container row m-auto">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header actions-toolbar">
                <div class="row justify-content-between align-items-center">
                    <div class="col">
                        <h6 class="d-inline-block mb-0">Sisteme Kayıtlı Araçlar</h6>
                    </div>
                    <div class="col text-end">
                        <a href="#modal-add" data-bs-target="#modal-add" class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4" data-bs-toggle="modal">
                            <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Card body Table-->

            <div class="table-responsive container-fluid">
                <table class="table align-items-center">
                    <thead>
                        <tr>
                            <th scope="col" class="sort font-weight-bold text-info text-center" >#</th>
                            <th scope="col" class="sort font-weight-bold text-info">Ad</th>
                            <th scope="col" class="sort font-weight-bold text-info" >Plaka</th>
                            <th scope="col" class="sort font-weight-bold text-info" >Telefon</th>
                            <th scope="col" class="sort font-weight-bold text-info" ></th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        <tr *ngFor="let item of plakalar; let i=index">
                            <th class="text-center">
                               {{i+1}}
                            </th>
                            <td>
                               {{item.Ad}}
                            </td>
                            <td>
                               {{item.Plaka}}
                            </td>
                            <td>
                            {{item.Telefon}}
                            </td>
                            <td>
                                <div class="d-flex justify-content-end">
                                    <span href="#modal-update" (click)="openUpdate(item)" data-bs-toggle="modal" class="mr-2 text-info"><i class="fas fa-pencil-alt"></i></span>
                                    <span (click)=" alertConfirmation(item.id)" class="mr-2 text-danger" class="mr-2 text-danger"><i class="fas fa-trash"></i></span>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
  </div>
  <app-add-user [id]="id"></app-add-user>
    <!--Ekle modal-->
    <div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- Sales Unid ID -->
                    <div class="form-group mb-2">
                        <label class="form-control-label">Ad</label>
                        <input [(ngModel)]="ad" type="text" class="form-control" placeholder="">
                    </div>
                    <div class="form-group mb-2">
                        <label class="form-control-label">Plaka</label>
                        <input [(ngModel)]="plaka" type="text" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Telefon</label>
                        <input [(ngModel)]="tel" type="text" class="form-control" placeholder="">
                    </div>
   
                    <!--Shelf ID-->


                </div>
                <div class="modal-footer">
                    <button type="button" (click)="guncelle()" class="btn btn-sm btn-primary rounded-pill mr-auto">Ekle</button>
                    <button type="button" data-bs-dismiss="modal" class="btn btn-sm btn-link text-muted px-2">İptal</button>

                </div>
            </div>
        </div>
    </div>
