<header class=" d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom bg-dark text-light">
  <ul class=" container nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link px-2 link-light">Plakalar</a></li>
    <li><a routerLink="giren-arac" routerLinkActive="active" class="nav-link px-2 link-light">Giren Araçlar</a></li>
    <li><a routerLink="cikan-arac" routerLinkActive="active" class="nav-link px-2 link-light">Çıkan Araçlar</a></li>
   
  </ul>

</header>

<router-outlet></router-outlet>
